
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480855693357'); /* IE9*/
  src: url('iconfont.eot?t=1480855693357#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480855693357') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480855693357') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480855693357#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before { content: "\e619"; }

.icon-shipin:before { content: "\e61c"; }

.icon-fenxiang:before { content: "\e648"; }

.icon-lianxiren:before { content: "\e745"; }

.icon-daohang-copy:before { content: "\e600"; }

.icon-arrow-up:before { content: "\e607"; }

.icon-arrow-down:before { content: "\e60a"; }

.icon-iconzhenghe79:before { content: "\e75c"; }

.icon-saoyisao:before { content: "\e668"; }

.icon-sousuo-sousuo:before { content: "\e622"; }

.icon-daohanglanxiangzuo:before { content: "\e63a"; }

.icon-daohanglanxiangyou:before { content: "\e63b"; }

